# Dependencies
src/.deps
src/.libs
src/*.dSYM

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# More stuff
./Makefile
contrib/Makefile
contrib/dummy
doc/Makefile
scripts/Makefile
scripts/dif
sql/Makefile
sql/Messier.sql
sql/funcdesc.sql
src/Makefile
src/fakesky_H6
src/fakesky_HPx
src/fakesky_RND
src/myXmatch
src/pix_myXmatch
src/testMySearch
src/stamp-*
contrib/Spherematch/Save
autom4te.cache
aclocal.m4
config.log
config.status
libtool
.DS_Store
